doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    button(onclick = "home()") Home
      script.
        function home() {
          window.location.href = '/'
        }
    button(onclick="client()") Client
    script.
      function client() {
        window.location.href = '/client'
      }
    button(onclick = "farmer()") Farmer
    script.
      function farmer() {
        window.location.href = '/farmer'
      }
    button(onclick = "center()") Distribution Center
      script.
        function center() {
          window.location.href = '/center'
        }

    block content
    br
    h4= 'Created as a final project for Cloud Computing, IDC, 2015'
    h5= 'ID1: 300067113, ID2: 200940914'
    script(type='text/javascript' src='/js/bootstrap.min.js')
