doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-   target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') Cloud Computing Final Project, IDC, 2015 (ID1: 300067113, ID2: 200940914)
          div.nav-collapse.collapse
            ul.nav
              li
                a(href='/') Home
              li
                a(href='#about') About
              li
                a(href='/client') Client
              li
                a(href='/farmer') Farmer
              li
                a(href='/center') Distribution Center
    div.container(align='center')
      br
      br
      block content
    script(type='text/javascript' src='/js/bootstrap.min.js')
