extends layout
block content
   h1= 'Stock Summery'
   p Total Farmers Offering For This Week
   table
      thead
         tr#headtag
            th |
            th Item
            th |
            th In stock (KG)
            th |
            th Ordered (KG)
            th |
      tbody
         each item in itemlist
            tr
               td |
               td= item.Name
               td |
               td= item.InStock
               td |
               td= item.Ordered
               td |

