extends ../layout
block content
   h1= 'Get Orders'
   div
      form(action='/orders', method='POST')
         fieldset#shipping_day
            legend Choose Shipping day:
            select(name='shipping_day')
               option(value='0') Monday
               option(value='1') Thursday
               option(value='2') Both
         br
         fieldset#dist_centers
            legend Choose Distribution Centers:
            label.checkbox.inline
               input#dist_centers1(type='checkbox', name='dist_centers', value='tlv1')
               | TLV1
            label.checkbox.inline
               input#dist_centers2(type='checkbox', name='dist_centers', value='tlv2')
               | TLV2
            label.checkbox.inline
               input#dist_centers3(type='checkbox', name='dist_centers', value='goog')
               | Google Offices
            label.checkbox.inline
               input#dist_centers4(type='checkbox', name='dist_centers', value='int_haifa')
               | Intel Haifa
            label.checkbox.inline
               input#dist_centers5(type='checkbox', name='dist_centers', value='microsoft_hertz')
               | Microsoft Hertzeliya
         br
         br
         fieldset#orderdetails
            legend
            button.btn(type='submit') Get Orders
            button.btn(onclick = "allOrders()") Get All Orders
               script.
                  function allOrders() {
                     window.location.href = '/allOrders'
                  }

